.section {
  border: 1px solid rgb(195, 195, 195);
  border-radius: 10px;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.section > :hover {
  background-color: rgb(244, 244, 244);
}

.section p {
  margin-top: 10px;
  font-size: 20px;
}
