.section {
  align-self: center;
}

img {
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
}

.user_info {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  border: 1px solid rgb(195, 195, 195);
  border-radius: 10px;
  padding: 10px;
}

.user_info > div {
  display: flex;
}

.name {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.name > div {
  display: flex;
  column-gap: 10px;
}

.name > p {
  font-size: 20px;
}

.name p {
  margin: 0;
}
