.button {
  width: fit-content;
  height: 30px;
  font-size: 0.8vw;
  border-radius: 4px;
  padding: 2px;
  border: 1px solid rgb(87, 87, 87);
  color: rgb(87, 87, 87);
  overflow: none;
}

.button.dark {
  background-color: rgb(167, 167, 167);
  border: none;
}
